<%- include('../partials/header') %>
<%- include('../partials/navigation') %>
<main class="container-lg mt-5 py-4 bg-light shadow-lg rounded">
  <div class="text-center">
    <h3><span class="float-start"><a class="btn btn-secondary" href="/portal/patients">&larr; Back</a></span>New Patient</h3>
    <hr>
  </div>
  <form class="form-control" role="form">
    <div class="row">
      <div class="col-sm-6">
        <h5 class="fw-bold required-label">Full Name:</h5>
        <input type="text" value="<%= typeof prefillName !== 'undefined' ? prefillName : '' %>" class="form-control" name="name" required aria-required="true" autocomplete="off" id="name">
      </div>
      <div class="col-sm-6">
        <h5 class="fw-bold required-label">Gender:</h5>
        <select class="form-select form-control" name="gender" required aria-required="true" autocomplete="off" id="gender">
          <option selected hidden disabled></option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h5 class="fw-bold required-label">Date of Birth:</h5>
        <input type="date" class="form-control" aria-required="true" autocomplete="off" name="dateOfBirth" id="dob">
      </div>
      <div class="col-sm-6">
        <h5>&nbsp;</h5>
        <span class="float-end"><a href="#" class="btn btn-primary m-1" id="new-exam-btn" title="save patient and start a new exam">Save & Start Exam</a></span>
        <span class="float-end"><a href="#" class="btn btn-success m-1" id="save-patient-btn" title="save patient">Save Patient</a></span>
      </div>
    </div>
  </form>
</main>
<script>
  const form = document.querySelector('form');
  const saveBtn = document.getElementById('save-patient-btn');
  const examBtn = document.getElementById('new-exam-btn');
  const nameEl = document.getElementById('name');
  const dobEl = document.getElementById('dob');
  const genderEl = document.getElementById('gender');

  const disableButtons = () => {
    saveBtn.classList.add('disabled');
    examBtn.classList.add('disabled');
  };

  const enableButtons = () => {
    saveBtn.classList.remove('disabled');
    examBtn.classList.remove('disabled');
  };

  const checkInputs = () => {
    const nameValid = nameEl.value !== '';
    const dobValid = dobEl.value !== '' && new Date(dobEl.value) <= Date.now();
    const genderValid = genderEl.value !== '';
    return nameValid && dobValid && genderValid;
  };

  const alertDiv = document.createElement('div');
  alertDiv.classList.add('alert', 'alert-danger', 'd-none');
  form.prepend(alertDiv);

  const postPatient = async () => {
    const data = new URLSearchParams(new FormData(form));
    data.set('dateOfBirth',dobEl.value+ 'T00:00');
    const response = await fetch('/portal/api/patients', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
      },
      body: data.toString()
    });
    return response.json();
  };

  const onButtonClick = async event => {
    event.preventDefault();
    if (checkInputs()) {
      const response = await postPatient();
      if (response.error) {
        alertDiv.innerHTML = `Could not save patient<br>Reason: ${response.error}`;
        alertDiv.classList.remove('d-none');
      } else {
        const id = response.data._id;
        const redirectUrl = event.target === saveBtn ?
          `/portal/patients/${id}` :
          `/portal/patients/${id}/exams/new`;
        window.location.href = redirectUrl;
      }
    }
  };

  saveBtn.addEventListener('click', onButtonClick);
  examBtn.addEventListener('click', onButtonClick);

  const onInputChanged = () => {
    if (checkInputs()) {
      enableButtons();
    } else {
      disableButtons();
    }
  };

  form.addEventListener('input', onInputChanged);
  window.addEventListener('DOMContentLoaded', onInputChanged);
  disableButtons();
</script>

<%- include('../partials/footer') %>