<%- include('../partials/header') %>
<%- include('../partials/navigation') %>
<main class="container-xl mt-5 py-4 bg-light shadow-lg rounded">
    <div class="container-lg">
        <%- include('../partials/tableComponent',{...patientsTable}) %>
    </div> 
</main>
<%- include('../partials/footer') %>