<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<main class="container mt-5 py-4 bg-light shadow-lg rounded">
  <div class="text-center">
    <h1>Forgot Password</h1>
  </div>
  <div class="container-fluid mt-4">
    <p>Normally there would be a form to enter your e-mail and get a reset password link.</p>
    <p>However due to toy-deployment and host restrictions, functions requiring an e-mail server is not implemented. So basically, if you really forgot your password, there is no way to recover your account on this demo.</p>
    <p><a target="_blank" href="https://github.com/cango91/eye-connect/issues">Contact me</a> on github or <a href="/portal">register with a fresh e-mail or login with Google</a> - although if you used your google account to register, you won't be able to use the same account.</p>
  </div>
</main>
<%- include('./partials/footer') %>