<%- include('../partials/header') %>
<%- include('../partials/navigation') %>
<main class="container mt-5 py-4 bg-light shadow-lg rounded">
    Welcome Home Specialist
</main>
<%- include('../partials/footer') %>