:root {
  --logo-stroke: #0d0087;
  --background-color: #FFF490;
  --express-a-color: #00B7FF;
  --password-hints-bg-color: #fbf5bc;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
}

a {
  color: var(--express-a-color);
}

.banner {
  width: 100%;
  height: 350px;
  background-image: url('/images/banner.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  max-width: 810px;
  color: #333;
}

.img-fluid:not(.funduscopy) {
  max-width: 50%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

footer ul>li.nav-item>a.nav-link.active,
footer {
  color: aliceblue;
}

footer ul>li.nav-item>a.nav-link {
  color: rgba(255, 255, 255, 0.55);
}

.logo {
  rotate: -90deg;
}

#alert-div {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.password-hints {
  background-color: var(--password-hints-bg-color);
}

.required-label::before {
  content: "* ";
  color: red;
}

a.nav-link.dropdown-toggle.notification::after {
  content: none !important;
}

.table-sort {
  color: #666565;
}

.table-sort a {
  text-decoration: #666565;
}


.table-responsive th {
  text-wrap: nowrap;
}

a.dropdown-item.active {
  background-color: #666565 !important;
}

.form-switch .form-check-input,
.form-switch .switch-icon {
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .navbar-collapse .nav-item .dropdown-menu {
    position: static;
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .dropdown-menu[data-bs-popper] {
    margin-top: 0;
    
  }

  .dropdown-toggle::after {
    border:0;
  }
}

#back-btn{
  font-size: larger !important;
  font-weight: 1000 !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}