:root {
  --logo-stroke: #0d0087;
  --background-color: #FFF490;
  --express-a-color: #00B7FF;
  --password-hints-bg-color: #fbf5bc;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
}

a {
  color: var(--express-a-color);
}

.banner {
  width: 100%;
  height: 350px;
  background-image: url('/images/banner.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  max-width: 810px;
  color: #333;
}

/* .img-fluid:not(.enlarged-image) {
  max-width: 50%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
} */

footer ul>li.nav-item>a.nav-link.active,
footer {
  color: aliceblue;
}

footer ul>li.nav-item>a.nav-link {
  color: rgba(255, 255, 255, 0.55);
}

.logo {
  rotate: -90deg;
}

#alert-div {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
  max-width: 50vw;
}

.table-alert {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.password-hints {
  background-color: var(--password-hints-bg-color);
}

.required-label::before {
  content: "* ";
  color: red;
}

a.nav-link.dropdown-toggle.notification::after {
  content: none !important;
}

.table-sort {
  color: #666565;
}

.table-sort a {
  text-decoration: #666565;
}


.table-responsive th {
  text-wrap: nowrap;
}

a.dropdown-item.active {
  background-color: #666565 !important;
}

.form-switch .form-check-input,
.form-switch .switch-icon {
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .navbar-collapse .nav-item .dropdown-menu {
    position: static;
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .dropdown-menu[data-bs-popper] {
    margin-top: 0;

  }

  .dropdown-toggle::after {
    border: 0;
  }
}

.i-add-patient svg {
  transform: scale(1.2);
}

.centered-collapse-menu {
  justify-content: center;
}

.navbar-ul-centered {
  text-align: center;
}

.collapse-btn-icon {
  margin: 0;
  vertical-align: center;
  margin-left: .25rem !important;
}

@media (max-width: 991.98px) {
  .collapse-btn-icon {
    margin: 0;
    vertical-align: center;
    margin: .25rem !important;
  }
}

.highlight {
  border: 2px dashed #999;
  background: lightgray;
}

.collapse-btn-icon-home {
  margin: 0;
  vertical-align: center;
  margin: .25rem !important;
}

#image-container {
  height: 250px;
}

#new-patient-btn {
  background-color: whitesmoke;
  border-width: 2px;
}

#new-patient-btn:hover {
  background-color: rgb(238, 238, 238);
}

#new-patient-btn:active {
  background-color: rgb(216, 215, 215);
}

#new-patient-btn * {
  fill: #198754;
}

#examImageUpload {
  opacity: 0;
  height: 0;
}

#session-images {
  text-wrap: nowrap;
  align-self: center;
}

.btn-magnify {
  border-radius: 5%;
}

.btn-magnify:hover {
  background-color: rgba(246, 193, 68, 0.929) !important;
}

.img-thumbnail {
  max-width: 350px;
}

tr.clickable-row {
  cursor: pointer;
}

tr.clickable-row:hover td{
  background-color: var(--password-hints-bg-color) !important;
}