:root {
  --logo-stroke: #0d0087;
  --background-color: #FFF490;
  --express-a-color: #00B7FF;
  --password-hints-bg-color: #fbf5bc;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
}

a {
  color: var(--express-a-color);
}

.banner {
  width: 100%;
  height: 350px;
  background-image: url('/images/banner.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  max-width: 810px;
  color: #333;
}

.img-fluid:not(.funduscopy) {
  max-width: 50%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

footer ul>li.nav-item>a.nav-link.active,
footer {
  color: aliceblue;
}

footer ul>li.nav-item>a.nav-link {
  color: rgba(255, 255, 255, 0.55);
}

.logo {
  rotate: -90deg;
}

#alert-div {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.password-hints {
  background-color: var(--password-hints-bg-color);
}