:root{
  --logo-stroke: #0d0087;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FFF490;
}

a {
  color: #00B7FF;
}

.banner{
  width: 100%;
  height: 350px;
  background-image: url('../images/banner.webp');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  max-width: 810px;
  color: #333;
}

.img-fluid:not(.funduscopy) {
  max-width: 50%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

footer ul>li.nav-item>a.nav-link,
footer{
  color: aliceblue;
}

.logo{
  rotate: -90deg;
}